@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :is(#__next, #__root, body, html) {
    @apply min-h-screen w-full;
    -webkit-tap-highlight-color: transparent;
  }
}

/* Firefox */
.scrollbar-hide {
  scrollbar-width: none;
}
/* Safari and Chrome */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
