@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Inter var";
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  font-named-instance: "Regular";
  src: url("/fonts/Inter-roman-latin.var.woff2") format("woff2");
}

@layer base {
  :is(#__next, #__root, body, html) {
    @apply w-full min-h-screen;
    -webkit-tap-highlight-color: transparent;
  }
}

/* Firefox */
.scrollbar-hide {
  scrollbar-width: none;
}
/* Safari and Chrome */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
