@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :is(#__next, #__root, body, html) {
    @apply w-full min-h-screen;
    -webkit-tap-highlight-color: transparent;
  }
}

/* Firefox */
.scrollbar-hide {
  scrollbar-width: none;
}
/* Safari and Chrome */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
